<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>PodRecomenda</title>
</head>

<body>
    <div class="hero">
        <div class="navbar">
            <div class="cadu">
                <a href="index.html" class="logo">
                    <img src="../IMG/Podcast_Logo_-_Feito_com_PosterMyWall-removebg-preview.png" alt="">
                </a>
            </div>
            <a href="index2.html">Destaques</a>
            <a href="sair.php">Sair</a>
        </div>
        <div class="fraseimagem">
            <ul>
                <h1>"Cada episódio é uma nova oportunidade de aprender, crescer e se inspirar. O que você ouvir hoje
                    pode
                    transformar o seu amanhã."</h1>
                <p>-PodRecomenda-</p>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <img src="../IMG/channels4_profile (1).jpg" alt="PodProgramar">
            <h2>PodProgramar</h2>
            <p>Hosted By Ana Eliza e Jessi Zanelato</p>
            <p>Podcast apresentado por desenvolvedoras focado em programação, notícias e histórias, tudo com o toque
                feminino numa área dominada por homens.</p>
            <button>Ver Episódios</button>
        </div>

        <div class="card">
            <img src="../IMG/channels4_profile.jpg" alt="Casos e Causos">
            <h2>Casos e Causos</h2>
            <p>Hosted By Diogo Braga</p>
            <p>O Casos e Causos é uma crítica à verdade absoluta, a crítica se esgueira entrelinhas, escorre na sutileza
                das histórias em um belo mosaico em áudio.</p>
            <button>Ver Episódios</button>
        </div>

        <div class="card">
            <img src="../IMG/unnamed.jpg" alt="Faz Bem">
            <h2>Faz Bem</h2>
            <p>Hosted By Kell Bonassoli</p>
            <p>Podcast apresentado por Kell Bonassoli e Konrad Spiess focado em falar de coisas que fazem bem, com boas
                notícias e comentários sobre coisas boas.</p>
            <button>Ver Episódios</button>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="card">
            <img src="../IMG/ab67656300005f1fc3dd699ea8b09d4ee2950833.jpg" alt="PodProgramar">
            <h2>PodProgramar</h2>
            <p>Hosted By Ana Eliza e Jessi Zanelato</p>
            <p>Podcast apresentado por desenvolvedoras focado em programação, notícias e histórias, tudo com o toque
                feminino numa área dominada por homens.</p>
            <button>Ver Episódios</button>
        </div>
        <div class="card">
            <img src="../IMG/ab6765630000ba8a7fbf5d3b676ba83b4a1867b3.jpg" alt="Casos e Causos">
            <h2>Casos e Causos</h2>
            <p>Hosted By Diogo Braga</p>
            <p>O Casos e Causos é uma crítica à verdade absoluta, a crítica se esgueira entrelinhas, escorre na sutileza
                das histórias em um belo mosaico em áudio.</p>
            <button>Ver Episódios</button>
        </div>
        <div class="card">
            <img src="../IMG/ab6765630000ba8a16433e7961fe35645f0d97f5.jpg" alt="Faz Bem">
            <h2>Faz Bem</h2>
            <p>Hosted By Kell Bonassoli</p>
            <p>Podcast apresentado por Kell Bonassoli e Konrad Spiess focado em falar de coisas que fazem bem, com boas
                notícias e comentários sobre coisas boas.</p>
            <button>Ver Episódios</button>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="card">
            <img src="../IMG/podcast mano a mano.jfif" alt="PodProgramar">
            <h2>PodProgramar</h2>
            <p>Hosted By Ana Eliza e Jessi Zanelato</p>
            <p>Podcast apresentado por desenvolvedoras focado em programação, notícias e histórias, tudo com o toque
                feminino numa área dominada por homens.</p>
            <button>Ver Episódios</button>
        </div>
        <div class="card">
            <img src="../IMG/podcast os socios.jfif" alt="Casos e Causos">
            <h2>Casos e Causos</h2>
            <p>Hosted By Diogo Braga</p>
            <p>O Casos e Causos é uma crítica à verdade absoluta, a crítica se esgueira entrelinhas, escorre na sutileza
                das histórias em um belo mosaico em áudio.</p>
            <button>Ver Episódios</button>
        </div>
        <div class="card">
            <img src="../IMG/podcast primo cast.jfif" alt="Faz Bem">
            <h2>Faz Bem</h2>
            <p>Hosted By Kell Bonassoli</p>
            <p>Podcast apresentado por Kell Bonassoli e Konrad Spiess focado em falar de coisas que fazem bem, com boas
                notícias e comentários sobre coisas boas.</p>
            <button>Ver Episódios</button>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="card">
            <img src="../IMG/podcast nao inviabilize.jfif" alt="PodProgramar">
            <h2>PodProgramar</h2>
            <p>Hosted By Ana Eliza e Jessi Zanelato</p>
            <p>Podcast apresentado por desenvolvedoras focado em programação, notícias e histórias, tudo com o toque
                feminino numa área dominada por homens.</p>
            <button>Ver Episódios</button>
        </div>
        <div class="card">
            <img src="../IMG/podcast o poder do foco.jpg" alt="Casos e Causos">
            <h2>Casos e Causos</h2>
            <p>Hosted By Diogo Braga</p>
            <p>O Casos e Causos é uma crítica à verdade absoluta, a crítica se esgueira entrelinhas, escorre na sutileza
                das histórias em um belo mosaico em áudio.</p>
            <button>Ver Episódios</button>
        </div>
        <div class="card">
            <img src="../IMG/podcast pisicologia na pratica.jfif" alt="Faz Bem">
            <h2>Faz Bem</h2>
            <p>Hosted By Kell Bonassoli</p>
            <p>Podcast apresentado por Kell Bonassoli e Konrad Spiess focado em falar de coisas que fazem bem, com boas
                notícias e comentários sobre coisas boas.</p>
            <button>Ver Episódios</button>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 PodRecomenda. Todos os direitos reservados.</p>
    </footer>

</body>

</html>